/*Chequear */
* {
  box-sizing: border-box;
}

@font-face {
  font-family: "PragatiNarrow";
  src: url("/fonts/PragatiNarrow-Regular.ttf");
  src: url("/fonts/PragatiNarrow-Bold.ttf");
}

html {
  font-size: 1rem;
  font-family:"Pragati Narrow", sans-serif;
}

body {
  font-family: "Pragati Narrow", sans-serif;
  font-size: 	0.875rem; /*14px*/
  line-height: 1.42857143;
  color: #333;
  background-color: #fff;
}

p {
  font-size: 	1.0625rem;
  color: #151515;
}

h2 {
  display: block;
  font-size: 1.5em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

.nav {
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
  position:relative;
}

div {
  display: block;
}

img {
  vertical-align: middle;
  border:0;
}

a {
  background-color: transparent;
  color: #020202;
  text-decoration: none;/*AGREGAR UNDERLINE A LOS LINKS DE PARRAFOS */
  cursor: pointer;
}

ul {
  display: block;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  text-transform: uppercase;
  display: inline;
  line-height: 20px;
}

/*Header - Barra Menu*/
.nav {
  border-bottom: 5px solid #e5e5e5;
  margin-bottom: 0;
  list-style: none;
  display: inline;
}

.navbar-logo {
  display: inline;
  margin: 0;
  padding: 0;
  height: 60px;
  width: 160px;
  background-color: #007fc0;
}

.navbar-categories {
  color: #555;
  background-color: transparent;
}

.navbar-categories > li {
  font-size: 0.8125rem;/* 13px*/
  font-weight: 700;
}

.navbar-media {
  display: inline;
}


.navbar-categories > li {
  position: relative;
  padding: 24px 10px;
  margin:0;
  border: none;
}

#search{
  content:url(/images/magnifiyng-glass.PNG);
}

/*Main Category */
.text-uppercase {
  text-transform: uppercase; 
}

span {
  width: 42px;
  height: 3px;
  position:relative;
}

.active-theme .span{
  width: 42px;
  height: 3px;
  float: left;
  margin-top: -25px;
  margin-left: 10px;
}

.color-innovation {
  background-color: #3e1e68;
}

/*Recommended Stories */
.other-section-title span{
  top: 45px;
}

.article-image {
  width: 100%;
}

.other-section-title {
  color: #333333;
  font-size: 1.6875rem;
  font: 700 20px "Pragati Narrow",sans-serif;
  text-transform: capitalize;
}

.description-box {
  text-transform: capitalize;
  padding-top: 20px;
}
