* {
  position: relative;
  margin:0;
}

article, figcaption, figure, footer, header, main,
nav, section {
  display: block;
}

header {
  position: fixed;
  width: 100%;
  z-index: 1000;
  margin:0;
}

body {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  background-color: #fff;
}

a {
  text-decoration: none;
  cursor: pointer;
}

img{
  max-width: 100%;
  height: auto;
}

.nav-primary {
  display:inline-block;
  border-bottom: 5px solid #e5e5e5;
  margin: 0;
  width: 100%;
  height: 68px;
  background-color: #fff;
}

.nav-primary-categories {
  display:inline;
  position:relative;
  line-height: 18px;
  margin-top: 0px;
  margin-left: -10px;
}

.nav-primary-categories li{
  display: inline;
  vertical-align: middle;
  padding: 24px 10px;
  color: #4e4e4e;
  list-style-type: none;
  font-size: 15px;
  font-family: "Pragati Narrow", Helvetica, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
}

.nav-primary-categories .line {
  position: absolute;
  margin-top: 50px;
  margin-left: -72px;
}

.nav-primary-search{
  display:inline;
  float:right;
  position:relative;
  margin-top: 1.6rem;
}

.nav-primary-media {
  display:inline;
  float:right;
  position:relative;
  margin-top: 1.3rem;
}

.nav-primary-media li{
  display: inline;
  vertical-align: middle;
  color: #4e4e4e;
}

.nav-primary-media a{
  display: inline;
  vertical-align: middle;
  color: #4e4e4e;
  list-style-type: none;
  line-height: 10px;
}

.horizontal-ul {
  list-style-type: none;
}

#search{
  display:inline;
}

.nav-secondary{
  position:absolute;
  height: 39px;
  width: 100%;
  z-index: 1000;
  padding-top: 4px;
  margin-top:0;  
  padding-left: 13px;
  overflow: hidden;
}

.nav-secondary {
  content: "";
  height: 39px;
  position: fixed;
  width: 100%;
  background-color: inherit;
}

.nav-secondary a{
  text-transform: uppercase;
  color:#ffffff;
  font: 700 1.125rem "Pragati Narrow",helvetica,sans-serif;
  white-space: nowrap;
  margin-left: 155px;
  vertical-align:middle;
  z-index:2000;
}

.auxiliar-white-bar{
  width: 74%;
  height: 80px;
  background-color: #fff;
  float: right;
  margin-top: -20px;
  border-radius: 60px 0px;
}

.color-innovation {
  background-color: #3e1e68;
}

.color-reccomended {
  background-color: #3cc4c0;
}

.color-sponsored {
  background-color: #ef6c00;
}

span.line {
  width: 42px;
  height: 3px;
}



/* Downloaded Fonts: didn't worked

@font-face {
  font-family: pragati-narrow;
  src: url("/fonts/pragati-narrow/PragatiNarrow-Regular.ttf");
}

/*For <nav>, por las dudas
@font-face {
  font-family: pragati-narrow;
  src: url("/fonts/pragati-narrow/PragatiNarrow-Bold.ttf");
  font-weight: bold;
}

/*For <subtitulo del artículo>
@font-face {
  font-family: pt-sans;
  src: url("/fonts/pt-sans/PTSans-Regular.ttf");
}

/*For <titulo noticia>
@font-face {
  font-family: fjalla-one;
  src: url("/fonts/fjalla-one/FjallaOne-Regular.ttf");
}

/*For <titulo noticia>
@font-face {
  font-family: lora;
  src: url("/fonts/lora/static/Lora-Regular.ttf");
}

*/